@use "global" as *;

.blog-page {
  position: relative;
}

.blog-page__hero {
  position: relative;
}

.blog-page__img img {
  display: block;
  width: 100vw;
  object-fit: cover;
  background-position: center;

  @include mq(md) {
    width: 100vw;
    height: rem(548);
  }
}

.blog-page__inner {
  position: relative;
}

.blog-page__wp-pagenavi{
  margin-top: rem(80);
  @include mq(md) {
  }
}