@use "global" as *;

.campaign-page {
  position: relative;

}

.campaign-page {
  position: relative;
}

.campaign-page__hero {
  position: relative;
  width: 100%;
  height: auto;

  @include mq(md) {
    width: 100%;
    height: auto;
  }
}

.campaign-page-img {
  object-fit: cover;
}

.campaign-page-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #408F95;
}

.campaign-page-img img {
  display: block;
  width: 100vw;
  object-fit: cover;
  background-position: center;

  @include mq(md) {
    width: 100vw;
    height: rem(548);
  }
}

.campaign-page__inner {
  position: relative;
}


.campaign__slides--campaign-page {
  display: grid;
  justify-content: center;
  gap: rem(40);
  grid-row: auto;
  margin-top: rem(40);

  @include mq(md) {
    gap: rem(80) rem(40);
    grid-template-columns: repeat(2, 1fr);
  }
}

.campaign-page__button {
  text-align: center;
  margin-top: rem(80);
  margin-bottom: rem(100);

  @include mq(md) {
    margin-top: rem(80);
    margin-bottom: 0;
  }
}