@use "global" as *;

.campaign-slide-card {
  box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: rem(280);
  @include mq(md) {
    width: rem(520);
  }
}
.campaign-slide-card a:hover{
  transition: 0.3s all;
  opacity: 0.5;
}


.campaign-slide-card__header img {
  aspect-ratio: 333 /223;
  object-fit: cover;
  width: 100%;

  @include mq(md) {}
}

.campaign-slide-card__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: rem(16) rem(18) ;
  width: 100%;

  @include mq(md) {
    width: 100%;
    padding: rem(24) rem(24) rem(44);
  }
}

.campaign-slide-card__body--night {
  @include mq(md) {
    margin-top: rem(0);
  }
}

.campaign-slide-card__icon {
  height: auto;
  color: $blue;
  border: rem(1) solid $blue;
  font-family: $base-font-family;
  text-align: start;
  width: fit-content;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: rem(12);
  padding-right: rem(12);


  @include mq(md) {
    text-align: start;
    width: fit-content;
    padding: rem(6) rem(6);
  }
}



.campaign-slide-card__icon-title {
  display: inline-block;
  font-size: rem(12);
  line-height: 1.7;

  @include mq(md) {
    margin-top: 0;
    font-size: rem(12);
    line-height: 1;
  }
}



.campaign-slide-card__title-campaign {
  height: inherit;
  flex-grow: 1;
  text-align: start;
  border-bottom: rem(1) solid $blue;
  font-family: $base-font-family;
  font-size: rem(12);
  margin-top: rem(4);
  padding-bottom: rem(4);
  @include mq(md) {
    font-size: rem(16);
    margin-top: rem(4);
  }
}

.campaign-slide-card__text-campaign {
  height: auto;
  text-align: center;
  font-family: $base-font-family;
  font-weight: $normal;
  font-size: rem(14);
  margin-top: rem(8);
  flex-grow: 1;

  @include mq(md) {
    margin-top: rem(20);
    font-size: rem(16);
  }
}

.campaign-slide-card__prices {
  display: flex;
  height: auto;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  gap: rem(16);
  margin-top: rem(8);
  align-items: baseline;
  font-family: $third-font-family;

  @include mq(md) {
    gap: rem(40);
  }
}

.campaign-slide-card__price {
  font-family: $third-font-family;
  font-weight: $bold;
  text-decoration: line-through #C94800 rem(3);
  // margin-top: rem(6);
  font-size: rem(20);
  line-height: 2;

  @include mq(md) {
    font-family: $third-font-family;
    font-size: rem(24);
    // margin-top: rem(8);
    line-height: 1.8;
  }
}

.campaign-slide-card__discount {
  color: $blue;
  font-weight: $bold;
  font-family: $third-font-family;
  font-size: rem(32);
  line-height: 1;

  // padding: rem(10) 0 0 rem(6);
  @include mq(md) {
    font-family: $third-font-family;
    font-size: rem(40);
    line-height: 1;
  }
}

.campaign-slide-card__text-about {
  height: auto;
  margin-top: rem(24);
  display: none;
  font-family: $base-font-family;
  line-height: 1;
  flex-grow: 1;
  height: 100%;
  line-height: rem(24);

  @include mq(md) {
    margin-top: rem(18);
    display: block;
    font-size: rem(16);
   
  }
}

.campaign-slide-card__date {
  height: auto;
  display: none;
  text-align: center;
  font-family: $third-font-family;
  color: $blue;
  font-size: rem(16);
  font-weight: $bold;
  flex-grow: 1;

  @include mq(md) {
    display: block;
    margin-top: rem(32);
  }
}



.campaign-slide-card__contact {
  height: auto;
  font-size: rem(14);
  color: $blue;
  text-align: center;
  display: none;
  flex-grow: 1;

  @include mq(md) {
    display: block;

  }
}

.campaign-slide-card__button {
  display: none;
  flex-grow: 1;
  height: auto;

  @include mq(md) {
    text-align: center;
    align-items: end;
    position: relative;
    margin-top: rem(16);
    display: flex;
    justify-content: center;
  }
}