@use "global" as *;

.campaign-slide {
  text-align: center;
  // width: 100%; /* スライドの幅を調整 */
  // height: 100%; /* スライドの高さを調整 */
  // display: flex; /* スライド内の要素を横並びに配置する場合 */
  /* スライド内の要素を垂直方向に中央揃えする場合 */
  justify-content: center;
  /* スライド内の要素を水平方向に中央揃えする場合 */
  margin: 0;
  display: block;
  height: auto;

  @include mq(md) {
    display: flex;
    height: 100%;
    margin: 0;
  }
}

.campaign-slide :hover {
  opacity: 0.5;
  transition: 0.3s all;
}


.campaign-slide-campaign-page {
  display: grid;
  justify-content: center;
  gap: rem(40);
  grid-row: auto;
  margin-top: rem(40);

  @include mq(md) {
    gap: rem(80) rem(40);
    grid-template-columns: repeat(2, 1fr);
  }
}