@use "global" as *;

.faq-contents {
  position: relative;
  display: flex;
  flex-direction: column;

  @include mq("md") {}
}

.faq-contents__inner {
  display: grid;
  gap: rem(38);
  @include mq("md") {
    gap: rem(38);
  }
}