@use "global" as *;

.faq {
  position: relative;
}

.faq__hero {
  position: relative;
}
.faq__main-img img{
  display: block;
  max-width: 100vw;
  object-fit: cover;
  background-position: center;

  @include mq(md) {
    max-width: 100vw;
    height: rem(548);
  }

}

