@use "global" as *;

.faq-content{
  display: flex;
  flex-direction: column;
  
  @include mq(md) {
    gap: rem(16);
  }
}

.faq-content__question {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: $blue;
  color: $white;
  font-size: rem(16);
  font-style: $base-font-family;
  padding-top: rem(16);
  padding-bottom: rem(16);
  padding-left: rem(16);

  @include mq(md) {
    font-size: rem(20);
    padding-top: rem(26);
    padding-bottom: rem(25);
    padding-left: rem(40);
  }
}
.faq-content__line1{
  top: rem(15);
  right: rem(-15);
  position: absolute;
  display: inline;
  width: rem(32);
  border-bottom:1px solid $white ;
}
.faq-content__line2{
  top: rem(15);
  right: rem(-15);
  position: absolute;
  width: rem(32);
  border-bottom:1px solid $white ;
  transition: 0.3s all;
}
.faq-content__line2.active{
  display: block;
  transform:rotate(90deg);
  transition: 0.3s all;
}


.faq-content__answer {
  height: 0;
  opacity: 0;
  padding-right: rem(16);
  padding-left: rem(16);
  overflow: hidden;
  transition: 0.3s all;
  @include mq(md) {
    padding-right: rem(40);
    padding-left: rem(40);
  }
}

.faq-content__answer.active {
  height: auto;
  opacity: 1;
  display: block;
  border: 1px solid $blue;
  padding-top: rem(24);
  padding-right: rem(16);
  padding-bottom: rem(24);
  padding-left: rem(16);
  transition: 0.3s ease;

  @include mq(md) {
    padding-top: rem(40);
    padding-right: rem(40);
    padding-bottom: rem(40);
    padding-left: rem(40);
  }
}