@use "global" as *;

.information-page {
  position: relative;
}

.information-page {
  position: relative;
}

.information-page__hero {
  position: relative;
  width: 100%;
  height: auto;

  @include mq(md) {
    width: 100%;
    height: auto;
  }
}

.information-page__inner {
  position: relative;
}

