@use "global" as *;

.page-404 {
  position: relative;
  width: 100vw;
  height: rem(470);
  background-color: $blue;

  @include mq(md) {
    height: 100vh;
  }
}

.page-404::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/common/whale-big.svg");

  @include mq(md) {
    width: rem(698);
    height: rem(698);
    background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat;
    top: 58%;
    left: 36.5%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}



