@use "global" as *;

.previouspostslink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(38);
  width: rem(38);
  margin-right: rem(40);
  color: $blue;
  border: 1px solid $blue;
  transition: 0.3s all;

  @include mq(md) {
  }
}

.previouspostslink:hover {
  background-color: $blue;
  color: $white;

}