@use "global" as *;

.privacy {
  position: relative;
}

.privacy__hero {
  position: relative;
  width: 100%;
  height: auto;

  @include mq(md) {
    width: 100%;
    height: auto;
  }
}

.privacy__img img{
  display: block;
  max-width: 100vw;
  object-fit: cover;
  background-position: center;

  @include mq(md) {
    max-width: 100vw;
    height: rem(548);
  }
}