@use "global" as *;

.sidebar-popularity-cards {
  display: flex;
  flex-direction: column;
  margin-top: rem(24);
  gap: rem(32);
  @include mq(md) {
    padding-right: 0;
    padding-left: 0;
    grid-row: 1;
    grid-column: 2;
    margin-top: rem(16);
  }
}