@use "global" as *;

.sidebar {
  grid-row: 2;
  width: 100%;
  padding-left: rem(25);
  padding-right: rem(25);
  @include mq(md) {
    padding-right: 0;
    padding-left: 0;
    grid-row: 1;
    grid-column: 2;
    margin-top: 0;
  }
}



.sidebar__popularity {
  position: relative;
margin-top: rem(80);
  @include mq(md) {
    margin-top: 0;
  }
}
.sidebar__popularity-detail {
  position: relative;
margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(-80);
  }
}


.sidebar__review {
  position: relative;
  margin-top: rem(86);

  @include mq(md) {}
}

.sidebar__campaign {
  position: relative;
  margin-top: rem(88);
}

.sidebar__archive {
  position: relative;
  margin-top: rem(80);
}
