@use "global" as *;


.sidebar-archive {
  color: $blue;
  font-size: rem(24);
  font-family: $base-font-family;

}

.sidebar-archive a {
  padding-left: rem(20);
  position: relative;
}

.sidebar-archive button {
  padding-left: rem(32);
  position: relative;
  color: $blue;
  transition: 0.3s all;
}


.sidebar-archive a::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/common/Polygon1.svg");
  top: 50%;
  left: rem(-5);
  transform: translate(0, -50%);
  width: rem(24);
  height: rem(24);
  background-size: contain;
  object-fit: cover;
  background-repeat: no-repeat;
  z-index: 1;
  transition: 0.3s all;

  @include mq(md) {}
}

.sidebar-archive.open button:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/common/Polygon1.svg");
  top: calc(50% - rem(8));
  left: 0;
  transform: translate(0, -50%);
  width: rem(24);
  height: rem(24);
  background-size: contain;
  object-fit: cover;
  background-repeat: no-repeat;
  z-index: 1;
  transform: rotate(90deg);


  @include mq(md) {}
}

.sidebar-archive button:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/common/Polygon1.svg");
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: rem(24);
  height: rem(24);
  background-size: contain;
  object-fit: cover;
  background-repeat: no-repeat;
  z-index: 1;
  transition: 0.3s all;

  @include mq(md) {}
}

.sidebar-archive ol {
  cursor: pointer;
}

.sidebar-archive ol {
  cursor: pointer;
  padding-left: rem(32);
  position: relative;
  transition: max-height 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
}

.sidebar-archive.open ol {
  display: block;
  transition: max-height 0.3s ease-out;
  max-height: 100%;
}