@use "global" as *;

.sidebar {
  grid-row: 2;
  width: 100%;
  @include mq(md) {
    grid-row: 1;
    grid-column: 2;
    margin-top: 0;
  }
}



.sidebar__popularity {
  position: relative;

  @include mq(md) {}
}


.sidebar__review {
  position: relative;
  margin-top: rem(86);

  @include mq(md) {}
}

.sidebar__campaign {
  position: relative;
  margin-top: rem(100);
}

.sidebar__archive {
  position: relative;
  margin-top: rem(92);
}
