@use "global" as *;

.site-map__main {
  position: relative;
}

.site-map__hero {
  position: relative;
  width: 100%;
  height: auto;

  @include mq(md) {
    width: 100%;
    height: auto;
  }
}

.site-map__category.page-category::before {
  display: none;
}

.site-map__nav {
  background-color: $white;
}

.site-map__nav ul {
  color: $black;
}

.site-map__nav .nav__item--bold ::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/common/_hitode-black.svg");
  width: rem(20);
  height: rem(20);
  background-repeat: no-repeat;
  left: rem(-23);
  top: rem(0);
}