@use "global" as *;

.slide-button {
  display: flex;
  justify-content: center;
  grid-template-columns: 2;
}

.slide-button__prev {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(38);
  width: rem(38);
  margin-right: rem(40);
  color: $blue;
  border: 1px solid $blue;
  @include mq(md) {
    margin-right: rem(40);
    margin-left: 0;
  }
}

.slide-button__prev:hover {
  background-color: $blue;
  color: $white;
  transition: 0.3s all;
}

.slide-button__next {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $blue;
  border: 1px solid $blue;
  margin-left: rem(40);
  height: rem(38);
  width: rem(38);
  @include mq(md) {
    
  }
}

.slide-button__next:hover {
  background-color: $blue;
  color: $white;
  transition: 0.3s all;
}

.slide-button__numbers {
  display: flex;
  align-items: center;
  gap: rem(11);
}


.slide-button__numbers li button{
  display: flex;
  color: $blue;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: $third-font-family;
  font-weight: $bold;
  border: 1px solid $blue;
  font-size: rem(16);
  height: rem(38);
  min-width: rem(38);
  @include mq(md) {
    font-size: rem(16);
  }
}


.slide-button__numbers li button:hover{
  background-color: $blue;
  color: $white;
  transition: 0.3s all;
} 
.slide-button__numbers .active {
  color: $white;
  background-color: $blue;
}