@use "global" as *;

.sub-mv__hero {
  position: relative;
}


.sub-mv__img {
  object-fit: cover;
}


.sub-mv{
  display: block;
  width: 100vw;
  object-fit: cover;
  background-position: center;

  @include mq(md) {
    width: 100vw;
    height: 100%;
  }
}

