@use "global" as *;

.tab-menus {
  display: grid;
  gap: rem(16);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: rem(32);
  }
}