@use "global" as *;

.tab-menu {
  display: grid;
  justify-content: center;
  max-width: rem(162);
  height: rem(32);
  @include mq(md) {
  }
}

.tab-menu__icon {
  font-size: rem(14);
  min-width: rem(162);
  text-align: center;
  background: $white;
  z-index: 10;

  @include mq(md) {}
}

.tab-menu__icon:hover {
  background-color: $blue;
  color: $white;
  transition: 0.3ms all;
}

.tab-menu__icon.active {
  background-color: $blue;
  color: $white;
}

.tab-menu.active {
  display: block;
}