@use "global" as *;


.tab-menu {
  display: grid;
  font-size: rem(14);
  min-width: rem(162);
  text-align: center;
  background: $white;
  z-index: 10;
  height: rem(32);display: inline-block;
  color: $blue;
  padding: rem(6) 0;
  font-family: $base-font-family;
  border: rem(1) solid $blue;
  @include mq(md) {
    grid-row: 1;
    font-size: rem(14);
  }
}

.tab-menu:hover {
  background-color: $blue;
  color: $white;
  transition: 0.3ms all;
}

.tab-menu.active {
  display: block;
  background-color: $blue;
  color: $white;
}
