@use "global" as *;

.tab-menus {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;
  gap: rem(16);
  @include mq(md) {
    justify-content: start;
    grid-template-columns: none;
    gap: rem(32);
  }
}
