@use "global" as *;

.thanks-page-top__contents {
  margin-top: rem(52);

  @include mq(md) {
    margin-top: rem(150);
  }
}

.thanks-page-top__content1 {
  text-align: center;
}

.thanks-page-top__content2 {
  text-align: center;
  margin-top: rem(40);
}

.thanks-page-top__content-sp {
  display: block;

  @include mq(md) {
    display: none;
  }
}